
###################################################
#######>>>>>>>>>>  3DPrintDemon  <<<<<<<<<<<#######
#######   https://github.com/3DPrintDemon   #######

# File addition inspired by community suggestion from sermayoral 

###################################################################################################################################################

## Add your very own touches to the Demon macros set! Simply insert your own commands into the macros below for them to be executed at certain stages of 
## the PRINT_START, PRINT_END, LOAD_FILAMENT, UNLOAD_FILAMENT, LOAD_CLEAN & UNLOAD_CLEAN macros! Obviously don't call macros like homing & QGL, Z_Tilt, & 
## other stuff the Demon macros already do or you'll probably end up with some very confusing results! 

## NOTE: I'm in no way responsible for any damage caused to your machine by you adding any code here! Be VERY CAREFUL what you add!

## NOTE: If you are getting some strange results & you need to debug your custom expansions the variables section below allows you to turn each one on or 
## off by setting the variable True or False. This is useful if your code is doing something it's not supposed to, or if you simply wish to deactivate something.
## NOTE: It's highly recommended to start with a correctly set up & working system BEFORE adding any Custom Expansions!

############################################## CHANGE YOUR CUSTOM EXPANSION ACTIVE LIST HERE!! ####################################################
###################################################################################################################################################

[gcode_macro CUSTOM_EXPANSION_ACTIVE_LIST]

###################################################################################################################################################
## MASTER ENABLE SWITCH ###########################################################################################################################

variable_ceal_master_enable: True

###################################################################################################################################################
## PRINT_START EXAPANSION #########################################################################################################################

## Set each variable to True to activate the custom macro, or False to deactivate it!

variable_pre_start: False
variable_pre_heating: False
variable_pre_homing: False
variable_pre_bed_heating_wait: False
variable_pre_level: True
variable_pre_mesh: False
variable_pre_print: False

###################################################################################################################################################
## PRINT_END EXPANSION ############################################################################################################################ 

variable_pre_end: False
variable_pre_shutdown: False
variable_post_end: False

###################################################################################################################################################
## LOAD_FILAMENT EXPANSION ########################################################################################################################

variable_pre_load: False
variable_post_load: False

###################################################################################################################################################
## UNLOAD_FILAMENT EXPANSION ######################################################################################################################

variable_pre_unload: False
variable_post_unload: False

###################################################################################################################################################
## LOAD_CLEAN_FILAMENT EXPANSION ##################################################################################################################

variable_pre_load_clean: False
variable_post_load_clean: False

###################################################################################################################################################
## UNLOAD_CLEAN_FILAMENT EXPANSION ################################################################################################################

variable_pre_unload_clean: False
variable_post_unload_clean: False

###################################################################################################################################################
## PID TUNE EXPANSION ################################################################################################################

variable_pre_pid_tune_mode: False
variable_post_pid_tune_mode: False

###################################################################################################################################################
## PAUSE, RESUME & CANCEL EXPANSION ###############################################################################################################

variable_pause: False
variable_resume: False
variable_cancel: False

###################################################################################################################################################

gcode: # DO NOT EDIT OR ADD ANYTHING IN THIS SECTION!!

###################################################################################################################################################
###################################################################################################################################################






###################################################################################################################################################

## Add your custom expansion code for each macro under the "gcode:" line but before the next "gcode_macro" section. Try to keep things neat & tidy as
## this helps you read it & understand whats going on, this is very helpful a week later when you come back to make edits! 

## Remeber your double space indent at the start of each new line!
## Try to add and perfect one macro at a time as its easier to deal with things if done like that!

################################################### ADD YOUR CUSTOM EXPANSION CODE HERE!! #########################################################
###################################################################################################################################################

[gcode_macro _CUSTOM_PRE_START] # Very first action after you hit print!
gcode:




[gcode_macro _CUSTOM_PRE_HEATING] # Before your nozzle & bed start heating
gcode:



[gcode_macro _CUSTOM_PRE_HOMING] # Before your printer homes - homing is conditional!
gcode:



[gcode_macro _CUSTOM_PRE_BED_HEATING_WAIT] # Before your printer waits for your bed temp & starts any heat soaks or timers
gcode:



[gcode_macro _CUSTOM_PRE_LEVEL] # After your printer is fully heated but before any machine levelling is commanded
gcode:

    G28
    
    {% set first_layer_bedtemp = params.BED|int %}
    {% set actual_bed_temp = printer['temperature_sensor buildplate'].temperature|default(0) %}
    RESPOND PREFIX=DEBUG MSG="Starting G28 with bed temp: {actual_bed_temp}°C, target: {first_layer_bedtemp}°C"
    
    # Wait for buildplate temperature to stabilize within range
    {% set temp_tolerance = 3.0 %} # Allowed temperature fluctuation (3.0°C)
    {% set stabilize_time = 300 %}  # 5 minutes in seconds
    {% set check_interval =5 %}    # Check every 5 seconds
    
    # First, make sure heater is on and we're close to target
    M190 S{first_layer_bedtemp}
    
    # Now wait for temperature to stabilize
    RESPOND PREFIX=INFO MSG="Waiting for buildplate temperature to stabilize within +/- {temp_tolerance}°C for {stabilize_time} seconds"
    {% set start_time = none %}
    {% set last_temp = none %}
    {% set stable_since = none %}
    {% set should_continue = true %}
    
    {% for i in range(1, 10000) if should_continue %}  # Safety limit
        {% set current_temp = printer['temperature_sensor buildplate'].temperature %}
        
        {% if start_time == none %}
            {% set start_time = printer.toolhead.estimated_print_time %}
            {% set last_temp = current_temp %}
            {% set stable_since = start_time %}
            RESPOND PREFIX=DEBUG MSG="Starting stability check at {start_time} seconds"
        {% endif %}
        
        {% set elapsed = printer.toolhead.estimated_print_time - start_time %}
        
        # Check if temperature is out of allowed range
        {% if (current_temp - last_temp)|abs > temp_tolerance %}
            {% set stable_since = printer.toolhead.estimated_print_time %}
            RESPOND PREFIX=DEBUG MSG="Temperature changed by {(current_temp - last_temp)|abs}°C - restarting stability timer"
        {% endif %}
        
        {% set stable_duration = printer.toolhead.estimated_print_time - stable_since %}
        
        # Check if we've been stable for long enough
        {% if stable_duration >= stabilize_time %}
            RESPOND PREFIX=INFO MSG="Buildplate temperature stable at {current_temp}°C for {stable_duration|int} seconds"
            {% set should_continue = false %}
        {% endif %}
        
        # Check total elapsed time to prevent infinite loops (15 min max)
        {% if elapsed >= 900 %}
            RESPOND PREFIX=WARN MSG="Exceeded maximum wait time for temperature stabilization"
            {% set should_continue = false %}
        {% endif %}
        
        {% if should_continue %}
            {% set last_temp = current_temp %}
            G4 P{check_interval * 1000}  # Pause for check_interval seconds
        {% endif %}
    {% endfor %}


[gcode_macro _CUSTOM_PRE_MESH] # Before your printer loads or performs any meshing processes
gcode:



[gcode_macro _CUSTOM_PRE_PRINT] # Just before your print starts
gcode:



[gcode_macro _CUSTOM_PRE_END] # Before the PRINT_END macro starts
gcode:



[gcode_macro _CUSTOM_PRE_SHUTDOWN] # Before the shutdown command is issued - if you have a power relay!!
gcode:



[gcode_macro _CUSTOM_POST_END] # Very last command before the PRINT_END macro finishes - if you have set a shutdown via power relay this may not have time
gcode:



[gcode_macro _CUSTOM_PRE_LOAD] # Before filament LOAD macro runs
gcode:



[gcode_macro _CUSTOM_POST_LOAD] # After filament LOAD macro runs
gcode:



[gcode_macro _CUSTOM_PRE_UNLOAD] # Before filament UNLOAD macro runs
gcode:



[gcode_macro _CUSTOM_POST_UNLOAD] # After filament UNLOAD macro runs
gcode:



[gcode_macro _CUSTOM_PRE_LOAD_CLEAN] # Before filament LOAD_CLEAN macro runs
gcode:



[gcode_macro _CUSTOM_POST_LOAD_CLEAN] # After filament LOAD_CLEAN macro runs
gcode:



[gcode_macro _CUSTOM_PRE_UNLOAD_CLEAN] # Before filament UNLOAD_CLEAN macro runs
gcode:



[gcode_macro _CUSTOM_POST_UNLOAD_CLEAN] # After filament UNLOAD_CLEAN macro runs
gcode:



[gcode_macro _CUSTOM_PRE_PID_Tune_Mode] # Before PID_Tune_Mode macro runs
gcode:



[gcode_macro _CUSTOM_POST_PID_Tune_Mode] # After PID_Tune_Mode macro runs - but before saving config
gcode:



[gcode_macro _CUSTOM_PAUSE] # After _DEMON_PAUSE macro runs
gcode:



[gcode_macro _CUSTOM_RESUME] # After _DEMON_RESUME macro runs
gcode:



[gcode_macro _CUSTOM_CANCEL] # After _DEMON_CANCEL macro runs
gcode:






###################################################################################################################################################
###################################################################################################################################################
## NOTE: DO NOT EDIT!

[gcode_macro _CEAL_VERSION]
variable_demon_ceal: "1.0.1"
gcode:
